/*GENERALES*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*HOME*/
.containerApp {
  display: grid;
  grid-template-columns: 1fr 4fr;
  height: 100vh;
  width: 100%;
}

/*SECTION EMPRESA*/
.sectionEmpresa {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3vh;
}

.headerEmpresa {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 2vh;
  gap: 3vh;
}

.headerEmpresa h2 {
  font-family: "Unbounded", sans-serif;
  font-size: 2rem;
}

.sectionCardsEmpresa {
  margin-top: 3vh;
  width: 100%;
  background-color: red;
  height: 72%;
}

/*SECTION SUCURSAL*/
.sectionSucursal {
  background-color: #d9d9d9;
  display: flex;
  flex-direction: column;
  gap: 5vh;
}

.headerSucursal {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 2vh;
}

.headerSucursal h2 {
  font-family: "Unbounded", sans-serif;
  font-size: 2.5rem;
  margin-left: 30%;
}

.headerSucursal button {
  font-size: 0.9rem;
  padding: 0.5rem;
  border: 2px solid #266f26;
  background-color: transparent;
  color: #266f26;
  border-radius: 0.5rem;
  box-shadow: 2px 5px 10px rgb(160, 160, 160);
}

.headerSucursal button:hover {
  background-color: rgb(196, 196, 196);
  cursor: pointer;
}

.noEmpresaSelected {
  font-size: 1.2rem;
  color: #555;
  background-color: #efeffc;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  margin: 20px auto;
  width: 90%;
  height: 10%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.containerListHome {
  display: flex;
  width: 100%;
  height: 100%;
}
