.noEmpresaSelected {
    font-size: 1.2rem;
    color: #555;
    background-color: #EFEFFC;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    margin: 20px auto; /* Centra el elemento */
    width: 90%; /* Define el ancho */
    height: 10%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }

.containerDiv{
    width: 100%;
    height: 100%;
    /*
      display: flex;
    justify-content: center;
    align-items: center;  
    */
    padding-top: 5rem;


}