.categoriaPadre {
  width: 100%;
  min-height: 3.5rem;
  border-radius: 1.5rem;
  display: grid;
  background-color: #ffff;
  grid-template-columns: 10fr 2fr;
  justify-content: space-around;
  border: 2px solid black;
}

.titleContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.actionsContainer {
  align-items: center;
  border-radius: 1.5rem;
  display: grid;
  grid-template-columns: 1fr 1fr 3fr;
  justify-content: center;
  align-items: center;
}

.arrowContainer {
  justify-content: center;
  display: flex;
}

.arrowIcon {
  font-size: 3rem;
  transition: transform 0.3s ease;
  rotate: 180deg;
}
.arrowIcon:hover {
  cursor: pointer;
}
.hiddenArrow {
  transform: rotate(180deg);
}

.subCategoriasContainer {
  background-color: transparent;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  transition: transform 0.5s ease;
  height: auto;
}
/*keyFrame*/

.subCategoriasContainer.hidden {
  height: 0;
  transition: 500ms;
  transform: translateY();
  display: none;
}
