.mainDiv {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  font-family: "Unbounded", sans-serif;
}

.containerCardEmpresa {
  position: relative;
  background-color: #fff;
  height: 60vh;
  width: 23vw;
  border-radius: 1rem;
}

.containerHeaderCardEmpresa {
  display: flex;
  justify-content: center;
  font-size: 18px;
  padding-top: 12px;
}

.containerHeaderCardEmpresa span:hover {
  color: #B81616;
}

.containerHeaderCardEmpresa span {
  position: absolute;
  right: 10px;
  font-size: 30px;
  cursor: pointer;
  color: #ab7d7d;
}

.containerBodyCardEmpresa {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 18px;
  padding: 50px;
  gap: 3vh;
}
.containerBodyCardEmpresa p {
  margin: 1px 0;
}

.containerImgCardEmpresa {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  object-fit: fill;
}

.containerImgCardEmpresa img{
  width: 200px;
  height: 150px;
}