.buttonEdit{
    background-color: transparent;
    border: 1px solid #008CFF;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 2rem;

    border-radius: 0.4rem; 
}


.customIcon{
    color: #008CFF;
    font-size: 1.3rem;
    cursor: pointer;
    transition: 500ms;
}

.customIcon:hover{
    color: #0265b6;
}