.categoriaPadre{

    width: 100%;
    min-height: 3.5rem;
    border-radius: 1.5rem;
    display: grid;
    background-color: red;
    grid-template-columns: 10fr 2fr;
    justify-content: space-around;
}

.actionsContainer{
    align-items: center;
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    background-color: rgb(6, 3, 3);
    align-items: center;
    justify-content: space-around;
}