.mainContainer {
  width: 45vw;
  height: 2.8rem;
  border-radius: 1.5rem;
  display: grid;
  background-color: #ffff;
  grid-template-columns: 10fr 2fr;
  margin: 8px 0px 8px 8px;
}

.titleContainer {
  padding-left: 2rem;
  display: flex;
  justify-content: left;
  align-items: center;
}

.actionsContainer {
  align-items: center;
  border-radius: 1.5rem;
  display: flex;
  justify-content: right;
  padding-right: 2rem;
  align-items: center;
}
