.mainDiv {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}
.modalEmpresa {
  background-color: rgb(238, 238, 238);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3vh;
  width: 25%;
  height: 60%;
  border-radius: 0.5rem;
}

.contentTittle {
  position: relative;
  width: 100%;
  text-align: center;
}

.contentbutton {
  position: absolute;
  left: 98%;
  top: -30%;
}

.contentTittle h2 {
  font-size: 2.3rem;
}

.formCrearEmpresa {
  padding: 1rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 3vh;
}

.formCrearEmpresa input {
  width: 15vw;
  height: 8vh;
  padding: 8px;
  background-color: #d9d9d9;
  outline: none;
  border: 1px solid rgb(158, 158, 158);
}

.formCrearEmpresa input:hover {
  cursor: pointer;
  background-color: #e2e2e2;
}

.contentInputs {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2vh;
}

.contentInputs input {
  padding: 8px;
  width: 15vw;
  height: 5vh;
  text-align: left;
  background-color: #d9d9d9;
  border-radius: 0.5rem;
  border: 1px solid rgb(158, 158, 158);
}
