.containerCardSucursal {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20rem;
  width: 18rem;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  background-color: #efeffc;
}

.containerCardSucursal:hover {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.cardSucursalTitle {
  text-align: center;
  margin-bottom: 1.5rem;
  font-size: 1rem;
  width: 90%;
  font-family: "Unbounded", sans-serif;
}

.contentIcons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.6vw;
}

.horarioStyle {
  text-align: center;
}

.imgStyle {
  background-color: #d9d9d9;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 13rem;
  height: 10rem;
  margin: 0 auto;
  margin-bottom: 1rem;
  border-radius: 0.4rem;
  overflow: hidden;
}

.imgStyle img {
  width: 100%;
  height: 100%;
  object-fit: fill;
}
